.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: flex-start;
    background: linear-gradient(35deg, rgb(255, 255, 255), rgb(245, 245, 245));
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
  }
  
  .catalog-product-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Se permite que los elementos se ajusten en dispositivos más pequeños */
    margin-bottom: 5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
  
    &.left {
      justify-content: end;
  
      a {
        width: 60%;
        display: flex;
        flex-direction: row-reverse;
        text-decoration: none;
        color: inherit;
      }
    }
  
    &.right {
      justify-content: start;
  
      a {
        width: 60%;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: inherit;
      }
    }
  }
  
  .catalog-product {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 100%; /* Asegura que ocupe el 100% del ancho en dispositivos más pequeños */
  
    //&:hover {
      //box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
      //transform: translateY(-5px);
    //}
  
    img {
      max-width: 100%;
      border-radius: 8px;
      transition: transform 0.3s ease;
  
      //&:hover {
        //transform: scale(1.05);
      //}
    }
  
    h3 {
      font-size: 1.5rem;
      margin-top: 1rem;
      color: #222;
    }
  
    p {
      font-size: 1rem;
      margin: 0.5rem 0;
      color: #666;
    }
  
    .price {
      font-size: 1.2rem;
      color: #e91e63;
      font-weight: bold;
    }
  }
  
  .catalog-cta {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    background-color: #e91e63;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #d81b60;
    }
  }
  
  /* Media Queries para pantallas pequeñas (tabletas) */
  @media (max-width: 768px) {
    .catalog-product-wrapper {
      flex-direction: column; /* Los productos se apilan verticalmente */
      align-items: center;
    }
  
    .catalog-product {
      width: 90%; /* Ocupa un 90% del ancho en lugar del 100% */
      margin-bottom: 3rem; /* Reduce el margen inferior */
    }
  
    h3 {
      font-size: 1.3rem; /* Ajusta el tamaño de la fuente en pantallas más pequeñas */
    }
  
    .catalog-cta {
      padding: 0.5rem 1rem;
      font-size: 0.85rem; /* Tamaño de fuente más pequeño */
    }
  }
  
  /* Media Queries para pantallas móviles */
  @media (max-width: 480px) {
    .catalog {
      padding: 1rem; /* Reduce el padding general */
    }
  
    .catalog-product-wrapper {
      margin-bottom: 3rem;
    }
  
    .catalog-product {
      padding: 1.5rem;
      width: 100%; /* Asegura que ocupe todo el ancho del dispositivo móvil */
    }
  
    h3 {
      font-size: 1.2rem; /* Tamaño de título más pequeño */
    }
  
    p {
      font-size: 0.9rem; /* Tamaño de párrafo más pequeño */
    }
  
    .price {
      font-size: 1rem; /* Ajuste en el tamaño del precio */
    }
  
    .catalog-cta {
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }
  