.Shopping-cart-page {
    background-color: #9a9696;
    padding: 4rem;
    min-height: calc(100vh - 18rem);

    h1 {
        padding: 0 1rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &-list {
        padding: 1rem;
        background: linear-gradient(25deg, rgb(62 59 59), rgb(250 250 250));
    }

    &-product {
        display: flex;
        border-bottom: 2px solid rgb(255, 255, 255); 

     &-image {
        margin: 1rem;
        width: 800px;
        height: 300px;

    img {
        height: 100%;
        width: 100%;
    }
    }

    &-total {
        display: grid;
    } 

    &-price{
        display: grid;
        margin: 1rem;
        width: 170px;
        min-width: 170px;

    }

    &-desc {
        display: grid;
        margin: 1rem;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;        
    }
    
    .button-28 {
      appearance: none;
      background-color: transparent;
      border: 2px solid #1A1A1A;
      border-radius: 15px;
      box-sizing: border-box;
      color: #3B3B3B;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100%;
      will-change: transform;
    }
    
    .button-28:disabled {
      pointer-events: none;
    }
    
    .button-28:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
    
    .button-28:active {
      box-shadow: none;
      transform: translateY(0);
    }
    }
    }
            