.product-card {
    display: flex;   
    max-width: 90vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &-img {
        width: 80%;
        height: 45rem;
        max-height: 40rem;
        text-align: center;
        
    }

    &-details {
        display: flex;
        flex-direction: column;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
    }

    &-price {
        font-weight: 800;
    }

    &-discount {
        border: 1px solid rgb(0, 0, 0);
        border-radius: 4px;
        color: rgb(255, 0, 0);
        margin-left: 0.5rem;
        font-size: 14px;
        padding: 0 0.125rem;
    }

    &:hover {
        box-shadow: rgb(42, 42, 42) 7px 7px 7px 7px;
        transform: translateY(-10px);
        
    }
}