.product-card {
    display: flex;   
    max-width: 90vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-bottom: 4vw;
    text-align: center;
    align-items: center;

    &-img {
        width: 75%;
        height: 25rem;
        max-height: 40rem;
        text-align: center;
        
    }

    &-details {
        display: flex;
        flex-direction: column;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
    }

    &-price {
        font-weight: 800;
    }

    &-discount {
        border: 1px solid rgb(0, 0, 0);
        border-radius: 4px;
        color: rgb(255, 0, 0);
        margin-left: 0.5rem;
        font-size: 14px;
        padding: 0 0.125rem;
    }

    //&:hover {
        //box-shadow: rgb(0, 0, 0) 10px 10px 10px 10px;
    //}
}