$carousel-item-heigh: 15rem;

.carousel-item {
    display: flex;
    flex: 1%;
    height: 35rem;
    //margin: 30px;

    &-image {
        width: 100%;
        height: 100rem;
        max-height: 35rem;
        padding: 40px;
        
    }

    &-tag {
        position: relative;
        bottom: -1rem;
        left: 0rem;
    }

    .trendingProducts{
        &-image {
            width: 100%;
            height: 100rem;
            max-height: 80rem;
            padding: 70px;

        }
    }
}